.book{
  width: 350px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 30px;
  padding: 10px;
  border: 2px solid rgb(2,2,2, 0.5)
}
.book img{
  width: 350px;
}
.book h1{
  font-style: italic;
}
.descr{
  border: 1px solid rgb(2,2,2, 0.5);
  padding: 15px;
}
.book p{
  border: 1px solid rgb(2,2,2, 0.5);
  padding: 15px;
}
.book button{
  padding: 10px;
  font-size: 17px;
  width: 100%;
  cursor: pointer;
}
.book-list{
  display:flex;
  justify-content: center;
  margin: 25px auto;
}


